<div fxLayout="column"
     fxLayoutAlign="center"
     id="batch-job-form">
  <mat-toolbar class="batch-job-toolbar">Create your batch job</mat-toolbar>
  <div fxFlex="80"
       fxLayout="row"
       fxLayoutAlign="space-around center">
    <table>
      <tr>
        <td>
          <mat-form-field>
            <input matInput
                   placeholder="Job Name"
                   value="{{ batchJob.jobName }}">
          </mat-form-field>
        </td>
        <td>
          <input type="file"
                 id="batchJobFile"
                 name="batchJobFile"
                 (change)="fileSelected($event)" />
        </td>
        <td colspan="2">
          <mat-form-field>
            <mat-select placeholder="Batch Job Type">
              <mat-option *ngFor="let type of jobTypes"
                          [value]="type">
                {{type}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field>
            <input matInput
                   placeholder="Expected Price"
                   type="number"
                   value="{{ batchJob.expectedPrice }}">
            <span matPrefix>$&nbsp;</span>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput
                   [matDatepicker]="deadlinepicker"
                   placeholder="Choose deadline"
                   value="{{ batchJob.deadlineDate }}">
            <mat-datepicker-toggle matSuffix
                                   [for]="deadlinepicker"></mat-datepicker-toggle>
            <mat-datepicker #deadlinepicker></mat-datepicker>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput
                   [matDatepicker]="starttimepicker"
                   placeholder="Choose a start time"
                   value="{{ batchJob.startDate }}">
            <mat-datepicker-toggle matSuffix
                                   [for]="starttimepicker"></mat-datepicker-toggle>
            <mat-datepicker #starttimepicker></mat-datepicker>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="3">

        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <button mat-stroked-button
                  color="primary"
                  (click)="verifyPrice()">Verify Price</button>
        </td>
        <td>
          <button mat-flat-button
                  (click)="submitBatchJob()"
                  color="primary">Submit</button>
        </td>
      </tr>
    </table>
  </div>
  <mat-divider class="order-divider"></mat-divider>
  <mat-toolbar class="batch-job-toolbar">Your created batch jobs</mat-toolbar>
  <table mat-table
         [dataSource]="batchJobs">

    <ng-container matColumnDef="id">
      <th mat-header-cell
          *matHeaderCellDef> No. </th>
      <td mat-cell
          *matCellDef="let job"> {{job.id}} </td>
    </ng-container>

    <ng-container matColumnDef="jobName">
      <th mat-header-cell
          *matHeaderCellDef> Job Name </th>
      <td mat-cell
          *matCellDef="let job"> {{job.jobName}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell
          *matHeaderCellDef> Status </th>
      <td mat-cell
          *matCellDef="let job"> {{job.status}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell
          *matHeaderCellDef> Type </th>
      <td mat-cell
          *matCellDef="let job"> {{job.type}} </td>
    </ng-container>

    <ng-container matColumnDef="batchJobFile">
      <th mat-header-cell
          *matHeaderCellDef> Batch Job File </th>
      <td mat-cell
          *matCellDef="let job">
        <a href="">{{job.batchJobFile}} </a>
      </td>
    </ng-container>

    <tr mat-header-row
        *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>