<div fxLayout="column"
     fxLayoutAlign="center"
     id="batch-job-form">
  <form fxFlex="60"
        fxLayoutAlign="center">
    <table>
      <tr>
        <td>
          <mat-form-field>
            <input matInput
                   placeholder="Job Name"
                   value="{{ batchJob.jobName }}">
          </mat-form-field>
        </td>
        <td>
          <input type="file"
                 id="batchJobFile"
                 name="batchJobFile"
                 (change)="fileSelected($event)" />
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <mat-form-field>
            <mat-select placeholder="Batch Job Type">
              <mat-option *ngFor="let type of jobTypes"
                          [value]="type">
                {{type}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <mat-form-field>
            <input matInput
                   placeholder="Expected Price"
                   type="number"
                   value="{{ batchJob.expectedPrice }}">
            <span matPrefix>$&nbsp;</span>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <mat-form-field>
            <input matInput
                   [matDatepicker]="deadlinepicker"
                   placeholder="Choose deadline"
                   value="{{ batchJob.deadlineDate }}">
            <mat-datepicker-toggle matSuffix
                                   [for]="deadlinepicker"></mat-datepicker-toggle>
            <mat-datepicker #deadlinepicker></mat-datepicker>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <mat-form-field>
            <input matInput
                   [matDatepicker]="starttimepicker"
                   placeholder="Choose a start time"
                   value="{{ batchJob.startDate }}">
            <mat-datepicker-toggle matSuffix
                                   [for]="starttimepicker"></mat-datepicker-toggle>
            <mat-datepicker #starttimepicker></mat-datepicker>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="2">

        </td>
      </tr>
      <tr>
        <td>
          <button mat-stroked-button
                  color="primary"
                  (click)="verifyPrice()">Verify Price</button>
        </td>
        <td>
          <button mat-flat-button
                  (click)="submitBatchJob()"
                  color="primary">Submit</button>
        </td>
      </tr>
    </table>
  </form>
</div>